
@{
    ViewBag.Title = "Bienvenido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        Bienvenido a la evaluación de aprendizaje Nro 2
    </h2>
    
    
    <a href="/Competidores/ListaCompetidores">_Ir a Gestión de Competidores</a>
    <br>
    <a href="/Premios/ListaPremios">_Ir a Gestión de Premios</a>

